.custom-login{
height: 500px;
padding-top:100px;
}
.slider-img{
    height: 400px !important;
}
.custom-product{
    height: 600px;
}
.slider-text{
    background-color: #35443585 !important;
}
.trending-image{
    height: 100px;
}
.trending-item{
    float: left;
    width: 25%;
}
.trending-wrapper{
    margin: 30px;
}
.img-details{
    height: 200px;
}
.search-box{
    width:  500px !important;
}
.cart-list-divider{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}